.container-accordion {

    margin-bottom: 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .accordion-header {
    border-radius: 10px;
    cursor: pointer!important;
    text-align: center;
    background-color: #212529;
    padding: 10px;
  }
  
  .accordion-body {
    display: none;
    padding: 10px;
  }
  
  .container-accordion > div {
    margin-bottom: 10px;
  }